

{% block left_menu %} 
<div class="column is-narrow">
    <div class="box" style="width: 200px">
        <aside class="menu">				
            <ul class="menu-list">
                <li><a style="height: 50px">个人信息</a></li>
                <li><a style="height: 50px">已完成记录</a></li>
                <li><a style="height: 50px">未完成记录</a></li>
                <li><a style="height: 50px">兑换记录</a></li>
            </ul>		
        </aside>
    </div>
</div>           
{% endblock left_menu %}	