{% extends "theme.html" %}
{% block survey_list %} 
<table class="table is-fullwidth is-hoverable ">
        <thead>
            <tr>
            <th> 编号</th>
            <th>问卷标题</th>
            <th>开始时间</th>
            <th>积分</th>
            <th>国家</th>
            <th>设备类型</th>
            <th>参与问卷</th>								
            </tr>
        </thead>
        {% for survey in surveys.values %}            
                    <tbody>
                        <tr>
                        <th>{{survey.id}}</th>
                        <td>{{survey.title}}</td>								
                        <td>{{survey.liveTime}}</td>
                        <td>{{survey.score}}</td>
                        <td>{{survey.countrID}}</td>
                        <td>PC/M</td>
                        <td><a href="{{survey.link}}">点击参与</a></td>						
                        </tr>					  					
                    </tbody>                   
        {% endfor %}         
    </table>         
{% endblock survey_list %}