{% extends "theme.html" %}
{% block survey_list %} 
<table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
            <th> 编号</th>
            <th>问卷标题</th>
            <th>开始时间</th>
            <th>积分</th>
            <th>国家</th>
            <th>设备类型</th>
            <th>参与问卷</th>								
            </tr>
        </thead>
        {% for surveyDCT in surveys %}
            {% for x,y in surveyDCT_all %}
                    <tbody>
                        <tr>
                        <th>{{y_id}}</th>
                        <td>关于饮料调查</td>								
                        <td>2019-10-08</td>
                        <td>230</td>
                        <td>CN</td>
                        <td>PC/M</td>
                        <td>点击参与</td>						
                        </tr>					  					
                    </tbody>
            {% endfor %}        
        {% endfor %}         
    </table>         
{% endblock survey_list %}